@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-while py-2">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                <input asp-for="Product.Id" hidden />
                @* <input asp-for="Product.ImageUrl" hidden /> *@
                <div class="row">
                    <div class="col-10">
                        <div class="mb-3 row">
                            <label asp-for="Product.Title"></label>
                            <input asp-for="Product.Title" type="text" class="form-control" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row">
                            <label asp-for="Product.Description"></label>
                            <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ISBN"></label>
                            <input asp-for="Product.ISBN" type="text" class="form-control" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Author"></label>
                            <input asp-for="Product.Author" type="text" class="form-control" />
                            <span asp-validation-for="Product.Author" class="text-danger"></span>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ListPrice"></label>
                            <input asp-for="Product.ListPrice" type="number" class="form-control" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Price"></label>
                            <input asp-for="Product.Price" type="number" class="form-control" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Price50"></label>
                            <input asp-for="Product.Price50" type="number" class="form-control" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Price100"></label>
                            <input asp-for="Product.Price100" type="number" class="form-control" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ProductImages"></label>
                            <input name="files" type="file" class="form-control shadow" multiple />

                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.CategoryId"></label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-select">
                                <option disabled selected>--Select Category</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>

                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">@(Model.Product.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6 btn-outline-light col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">
                                    Back to list
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-2">
                        @if (Model.Product.ProductImages != null)
                        {
                            foreach (var image in Model.Product.ProductImages)
                            {
                                <div class="border p-1 m-2 text-center">
                                    <img src="@image.ImageUrl" width="100%"
                                         style="border-radius:5px;border:1px solid #bbb9b9" />
                                         <a asp-action="DeleteImage" asp-route-imageId ="@image.Id" class="btn btn-danger">
                                             <i class="bi bi-trash-fill"></i> Delete
                                         </a>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',  // change this value according to the HTML
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | outdent indent'
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}